[2021-02-03 22:05] gbleaney opened #1 "Step 0: Read the docs"
Welcome to Pysa! It's really exciting to have you help us out by doing this project.

Pysa is an open source Python Static Taint Flow Analysis tool we (Facebook) created. Pysa is built on top of Pyre, which is our Python type checker. Things get get a little confusing, since both Pysa and Pyre live in the [same repo](https://github.com/facebook/pyre-check), get distributed through the [same PyPI p

[2021-02-04 22:24] gbleaney opened #2 "Step 1: Create a plugin"
To get started, we're going to want to create our own minimal plugin. There's already a VSCode plugin for Pyre [here](https://github.com/facebook/pyre-check/tree/master/tools/ide_plugins/vscode), so you can use that as your template, and create a new directory in `ide_plugins` adjacent to `vscode` (we'll probably want to rename that to `pyre_vscode` or something later). Most of what we will be doi

[2021-02-04 22:48] gbleaney opened #3 "Step 2: Create a new language server"
Currently, our plugin is connecting to the existing Pyre server, [launched by running `pyre persistent`](https://github.com/facebook/pyre-check/blob/b53db2e86d65b4e995072921a7b2079a454210bc/tools/ide_plugins/vscode/src/main.ts#L37-L38). We want Pyre and Pysa to have different language servers, because they're going to handle different files, and be used by different users.

Currently the language

[2021-02-04 23:01] gbleaney opened #4 "Step 3: Handle model validation errors"
Now that we have a separate running server for Pysa, let's start customizing it for Pysa. This is where the real engineering work comes in, so this task and the tasks going forward will be a bit more open ended. Have fun, and don't be afraid to ask for help!

At a high level, our goal is to get model validation errors that you can access through `pyre query "validate_taint_models()"` to start show

[2021-02-04 23:07] gbleaney opened #5 "Step N: Roadmap"
Here's a complete list of feature request for the plugin, in roughly priority order. We can flesh this out into tasks as you make progress through the existing tasks:

* #4 Start surfacing errors from the Pysa binary in line in the editor
* #TODO Build right click menu to automatically generate models. I can go from `def foo(arg)` in a `.py` file to `def fully.qualified.name.for.foo(arg): ...`.
*

[2021-03-23 18:08] gbleaney opened #6 "Step 4: Syntax Highlighting"
The goal here is to have the plugin turn on syntax highlighting for the two kinds of files relavent to Pysa: `taint.config` and `*.pysa` files.

[Here are the VSCode docs](https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide#contributing-a-basic-grammar) on syntax highlighting.

For `.pysa` files, the highlighting should look like exactly what you get in a `.py` file. As a

[2021-03-24 12:40] gracewgao commented on #6
Thanks, I'll give this a try and see what I can do!

[2021-04-13 22:01] gbleaney opened #7 "Step 5: Right Click to Generate Model"
When Pysa developers are working on a rule, they often look at a function in code such as:
[code]
If they want to write a model for that function, they need to figure out the fully qualified name for that function, so that they can write a model like this:
[code]
It would be really convenient if they could just right click on the function itself, and auto-generate the model. Ideally, if a user rig

[2021-06-01 23:10] #6 closed

[2021-06-01 23:10] #3 closed

[2021-06-01 23:10] #2 closed

[2021-06-02 09:12] r0rshark commented on #7
We can keep this work for the upcoming MLH round

[2021-06-08 17:56] gracewgao commented on #7
I'd be happy to work on this if no one else is working on it yet!

[2021-06-18 11:05] r0rshark opened #8 "[Summer 2021] Step 0 Read the docs"
Pysa is an open source Python Static Taint Flow Analysis tool we (Facebook) created. Pysa is built on top of Pyre, which is our Python type checker. Things get get a little confusing, since both Pysa and Pyre live in the [same repo](https://github.com/facebook/pyre-check), get distributed through the same [PyPI package](https://pypi.org/project/pyre-check/), and even get compiled into the same bin

[2021-06-18 11:16] r0rshark opened #9 "[Summer 2021] Step 1: Setup the environment"
Follow  [Pysa Quickstart guide](https://www.internalfb.com/intern/staticdocs/pyre/docs/pysa-quickstart/), you can try it on the test project like the [deliberately_vulnerable_app](https://github.com/facebook/pyre-check/tree/master/documentation/deliberately_vulnerable_flask_app) (included in the pyre repository) make sure you run setup.sh (https://github.com/facebook/pyre-check/blob/master/documen

[2021-06-18 11:44] r0rshark opened #10 "[Summer 2021] Project A: Add more examples to the deliberately_vulnerable_app application"
In order to showcase how Pysa can be used to detect bugs we created a vulnerable Flask application. Currently the application is only showing Remote Code Execution examples in the [rce.py](https://github.com/facebook/pyre-check/blob/master/documentation/deliberately_vulnerable_flask_app/rce.py) file. We should also add more usecases to show how Pysa can be used to catch other type of vulnerabiliti

[2021-06-18 12:06] r0rshark opened #11 "[Summer 2021] Project B: OpenSource Pysa Tests in Github CI"
We would like to implement a basic integration tests verifying that running Pysa on the  deliberately_vulnerable_app (https://github.com/facebook/pyre-check/tree/master/documentation/deliberately_vulnerable_flask_app)  would catch the issue we are expecting. To achieve this we need:

First run Pysa on the [deliberately_vulnerable_app](https://github.com/facebook/pyre-check/tree/master/documentatio

[2021-06-18 18:19] PulkitMishra commented on #9
Hey @r0rshark the first link points to https://www.internalfb.com/intern/staticdocs/pyre/docs/pysa-quickstart/ which is something we can't access. Can you please look into that and provide us an alternative link for the same?

[2021-06-18 18:39] r0rshark commented on #9
Fixed :)

[2021-06-21 13:56] PulkitMishra commented on #10
@r0rshark are these vulnerabilities to be added in the same flask app or a new flask app has to be created for each 5 of these ?

[2021-06-21 14:55] abishekvashok commented on #11
Claiming this up!

[2021-06-21 18:18] r0rshark commented on #10
@PulkitMishra let's add all of them to the same app. We may create different files for each vulnerability but still use the same app

[2021-06-22 12:47] abishekvashok commented on #11
@r0rshark  I am guessing we need to build pyre on github actions each time. So, I did so at: https://github.com/abishekvashok/pyre-check/runs/2884792267

But I am not able to figure out where `taint_models_path` is when you build from the source. Do you know where it might be? I tried ./stubs/taint/ and ./stubs/third-party-taints/ but it throws an exception:
[code]

[2021-06-22 14:11] abishekvashok commented on #11
Update: digging deeper, I found the taint_models_path is fine.

This error is being caused from somewhere else.

[2021-06-22 15:14] r0rshark commented on #11
Yes, I saw similar error before and it was caused by typeshed not being correctly identified. Have you tried using the PYRE_TYPESHED environment variable?
We may try also to use the approach used in the pyre.yml workflow [here](https://github.com/MLH-Fellowship/pyre-check/blob/master/.github/workflows/pyre.yml#L26) to directly get the current pyre nightly version from pip. Does this work?

[2021-06-23 11:41] r0rshark commented on #11
Regarding the issue with pyre-check-nightly I am not able to replicate it:
[code]
documentation/deliberately_vulnerable_flask_app/.pyre_configuration: [.pyre_configuration](https://github.com/MLH-Fellowship/pyre-check/files/6701455/pyre_configuration.txt)
The output [lorenzo_log.txt](https://github.com/MLH-Fellowship/pyre-check/files/6701446/lorenzo_log.txt) correctly show the issues

Regarding

[2021-06-23 13:26] abishekvashok commented on #11
Got it, I will try the nightly build again!

[2021-06-23 13:45] abishekvashok commented on #11
I tried the nightly build again, but the same output.

Also, this same thing happens in GitHub actions: https://github.com/abishekvashok/pyre-check/runs/2887709253?check_suite_focus=true

[2021-06-23 14:32] abishekvashok commented on #11
Quick and happy update! The following configuration works on my local machine!
[code]
Implementing it on Github actions and the pull request!

[2021-06-29 08:57] r0rshark opened #13 "[Fall 2021] Step 3: Create GitHub action for Pysa with SARIF output"
The goal is to document and probably implent a github action which can be used by python projects to integrate with Pysa and run it in the CI pipeline surfacing possible issues as comment in the diff.
In the past we did some collaboration with Zulip so their project can be a good starting point. We can fork https://github.com/zulip/zulip and experiment how this process should look like .
Some work

[2021-06-29 09:08] r0rshark opened #14 "[Summer 2021] Improve SAPP filtering"
SAPP (https://github.com/MLH-Fellowship/sapp/) takes the raw results of Pysa and makes them explorable both through a command line interface and a web UI. Currently, SAPP UI is missing the ability to filter by `Source Name`, `Source Kind`, `Sink Name`, and `Sink Kind`. We should add the possibility to filter by those values as well. This work will likely consist of:
1. Adding the filtering support

[2021-06-29 09:44] r0rshark opened #15 "[Summer 2021] Create Pysa model for flask.Markup"
Review [flask.Markup](https://tedboy.github.io/flask/generated/generated/flask.Markup.escape.html) to define models for XSS issues. Details on how to create Pysa models in https://pyre-check.org/docs/pysa-basics .
Examples:
- flask.Markup.__init__ may be considered an XSS sink
- flask.Markup.escape: We should add a model to attach a feature  Via[escape_html]

[2021-06-29 12:38] abishekvashok commented on #13
I think I can do this!

Should we show the SARIF results in the action command line itself, or make a bot that comments on the GitHub pull request diff?

[2021-06-29 14:06] r0rshark commented on #13
I am not super familiar with SARIF results but I think this should be our way to go

[2021-06-30 05:00] abishekvashok commented on #13
Claiming this!

[2021-06-30 10:40] abishekvashok commented on #13
Quick update: To publish an action on the GitHub marketplace, we need to have a separate repository for it.

[2021-06-30 13:22] abishekvashok commented on #13
@r0rshark done in https://github.com/facebook/pyre-check/pull/440 , please review when you can.

[2021-06-30 17:00] abishekvashok commented on #15
This seems fun.. I think I can take this up!

[2021-07-01 14:36] abishekvashok commented on #15
So I took a look at the source code, this is what I infer even though I have a poor background in vulnerability detection:
`Markup.__init__` is a sink

`Markup.escape` can be a sanitizer, unless the output of it goes through `Markup.unescape`.

My logic is that the class constructor is called for all functions except escape. Is this the required models?

[2021-07-05 17:38] abishekvashok commented on #13
@r0rshark here's the PR you requested: https://github.com/abishekvashok/zulip/pull/2 :D

Scroll down to checks section of the PR and see Code Analysis Pysa there (at place where SARIF results show up)
<img width="1440" alt="Screenshot 2021-07-05 at 11 04 17 PM" src="https://user-images.githubusercontent.com/8947010/124504737-b0e55180-dde5-11eb-815b-d5fff64d6e31.png">

Clicking on which should lead

[2021-07-06 03:02] abishekvashok commented on #15
@SkipObscure
def markupsafe._native.escape(s: TaintInTaintOut[Via[escape_html]]): ...

I see this code in third party taints.
This is the markup library used by Jinja2. Going by the same logic, escape should just be a `TaintInTaintOut` with the `via` feature. So I guess that solves the dilemma.

[2021-07-06 10:47] r0rshark opened #17 "[Summer 2021] Test Pysa on multiple projects"
Let's run Pysa on some projects with known vulnerabilities to make sure we catch them.
* Run pysa and check the results
* Use pyre infer to increase type coverage https://pyre-check.org/docs/pysa-coverage/#pyre-infer
* Review the codebase to identify if pysa is able to understand where the user controlled input is coming from. To do this I usually put an eval(user_input) and verify Pysa catches th

[2021-07-06 11:40] abishekvashok commented on #17
This is an interesting issue! I am taking it up.

[2021-07-06 13:03] abishekvashok commented on #17
Ran Pysa on the first repository with the following issues getting detected:
[code]

Pysa failed to detect the following vulnerabilities:
[code]

SQL Injections are not detected possible because the multiple libraries are imported under a same name in if statements based on the parameter used to run the script.

[2021-07-06 14:35] abishekvashok commented on #17
Ran Pysa on the second repository and it couldn't detect any issues.

The issues present are:
1. SQL Injection
2. Stored XSS

the session fixation issue outlined is not something I guess we use Pysa for. Skipping that one.

### 1. SQL Injection
Uses postgresql. We don't have stubs for the `aiopg` library. Solution would be implement them.

### 2. Stored XSS
Here the taint is stored in the server.

[2021-07-06 15:13] abishekvashok commented on #17
Ran Pysa on the third and last repository, it detected all of the 3 present issues and additional ones we intend to find:
1. SQL Injection
2. Cross-Site Scripting (XSS)
3. Cross Site Request Forgery (CSRF)

<details>
    <summary> See collapsed list of detected issues </summary>

[code]
</details>

[2021-07-06 15:16] abishekvashok commented on #17
I would detail one such process as follows:

1. Clone the repository and cd to it
2. Create and/or activate a virtual environment
3. Install pyre-check, and the requirements of the project
4. If there isn't a `.pyre_configuration` file, create one with `pyre init`
5. Increase pyre type coverage with:
[code]
6. Run `pyre analyze --no-verify`

[2021-07-07 17:45] abishekvashok commented on #15
Closed via https://github.com/facebook/pyre-check/commit/aa6590f71a83664bb6b3c271bcfdcbb38b16d33b

[2021-07-07 17:45] #15 closed

[2021-07-09 07:52] abishekvashok commented on #14
Fixed via https://github.com/facebook/sapp/pull/23

[2021-07-09 09:55] r0rshark commented on #17
@abishekvashok Awesome work! Sorry for the late reply I wanted to make sure no one else internally was working on the same coverage improvements. We have internal tasks to add these libraries and claimed all of them so there is no risk someone else overlaps with this work :) Feel free to add issues to cover those libraries @PulkitMishra may pick up some of them as well. After these improvements we

[2021-07-09 09:58] PulkitMishra commented on #10
closed by https://github.com/facebook/pyre-check/pull/443

[2021-07-09 09:58] #10 closed

[2021-07-09 11:03] abishekvashok commented on #17
Hey @r0rshark, I can totally agree with this! Thanks for working hard for us. :) I am creating those issues.

[2021-07-09 11:38] abishekvashok opened #18 "[Summer 2021] Implement stubs and models for aiopg"
Implement stubs and models for PostgressSQL library: [aiopg](https://github.com/aio-libs/aiopg)

Information on how to add models to Pysa can be found at: https://pyre-check.org/docs/pysa-basics

This might require addition of stubs: https://pyre-check.org/docs/pysa-tips/#stubs

[2021-07-09 11:40] abishekvashok opened #19 "[Summer 2021] Add models and stubs for psycopg2"
Implement stubs and models for PostgressSQL library: [psycopg2](https://github.com/psycopg/psycopg2)

Information on how to add models to Pysa can be found at: https://pyre-check.org/docs/pysa-basics

This might require addition of stubs: https://pyre-check.org/docs/pysa-tips/#stubs

[2021-07-09 11:41] abishekvashok opened #20 "[Summer 2021] Implement models and stubs for PyMySQL"
Implement stubs and models for MySQL library: [PyMySQL](https://github.com/PyMySQL/PyMySQL)

Information on how to add models to Pysa can be found at: https://pyre-check.org/docs/pysa-basics

This might require addition of stubs: https://pyre-check.org/docs/pysa-tips/#stubs

[2021-07-09 11:42] abishekvashok opened #21 "[Summer 2021] Implement stubs and models for pymssql"
Implement stubs and models for MySQL library: [PyMsSQL](https://github.com/pymssql/pymssql)

Information on how to add models to Pysa can be found at: https://pyre-check.org/docs/pysa-basics

This might require addition of stubs: https://pyre-check.org/docs/pysa-tips/#stubs

[2021-07-09 11:43] abishekvashok opened #22 "[Summer 2021] Implement models and stubs for cx_oracle"
Implement stubs and models for Oracle DB library: [cx_oracle](https://github.com/oracle/python-cx_Oracle)

Information on how to add models to Pysa can be found at: https://pyre-check.org/docs/pysa-basics

This might require addition of stubs: https://pyre-check.org/docs/pysa-tips/#stubs

[2021-07-09 11:46] abishekvashok opened #23 "[Summer 2021] Implement missing models for lxml"
Pysa can't detect issues for the lxml `fromstring` function (when used with the parser argument) and lacks models for the function `fromstringlist`.

Add both these models, lxml stubs are already present in the repository.
Information on how to add models to Pysa can be found at: https://pyre-check.org/docs/pysa-basics
The lxml source can be found here: https://github.com/lxml/lxml

[2021-07-09 15:55] r0rshark opened #24 "[Summer 2021] Mirror internal linter/formatter behaviour in opensource"
At Facebook we use an internal formatter a way to replicate a similar behaviour in the Opensource repo is
1. Use [µfmt](https://ufmt.omnilib.dev/en/stable/) instead of using black or µsort directly. This combines the import sorting and formatting into a single, atomic step, to minimize the chance of CI failures for inconsistent formatting between the two tools.
`$ ufmt <format|check|diff> <path>`

[2021-07-09 16:03] r0rshark opened #25 "[Summer 2021] Fix the Pyre errors surfaced by the Pyre CI action"
As @PulkitMishra  noticed the Pyre [github action](https://github.com/facebook/pyre-check/blob/master/.github/workflows/pyre.yml) is currently [failing](https://github.com/facebook/pyre-check/pull/440/checks?check_run_id=2998208384) because the are some [type error](https://github.com/facebook/pyre-check/security/code-scanning?query=is%3Aclosed). We can `pyre --output=json check` and fix the highl

[2021-07-09 17:16] abishekvashok commented on #24
Claiming this one as I feel it's an important issue.

[2021-07-09 17:34] abishekvashok commented on #24
Hey @r0rshark I think we will need more configuration information here, as trying to run the latest `ufmt` on the project with the packages outlined above leads to a lot of files being detected.
(I've tried using the given pyproject.toml setup and tweaking it a bit, black line-length for example, but couldn't get it working)
Also, I assume we skip checking `.pyi` files.

[2021-07-12 13:48] abishekvashok commented on #24
Another interesting thing is that, running `black` and `usort` alone doesn't produce errors! It must be `ufmt`. But I checked the source code and all it does is to call `usort` and pipe the results to black (or the other way around).

[2021-07-12 14:21] abishekvashok commented on #24
So I tried to hook a GitHub action: https://github.com/abishekvashok/pyre-check/runs/3047301951?check_suite_focus=true

But the diffs are kinda not what we want,
its complaining that the ellipses shouldn't be inline.

eg)
[code]

[2021-07-12 17:16] r0rshark commented on #24
@abishekvashok  I am not very familiar with  µfmt  I found these guidelines internally. Did you find out why running black and usort/isort individually doesn't produce any issue but  µfmt complains? This may help us defining a configuration to avoid this behaviour.  Can you share the your tests and the output so I can ask someone internally about which is the best configuration to deal with this?

[2021-07-13 04:39] abishekvashok commented on #24
@r0rshark this is the action I run: https://github.com/abishekvashok/pyre-check/runs/3047301951?check_suite_focus=true

The workflow file can be seen here:
https://github.com/abishekvashok/pyre-check/actions/runs/1023071148/workflow

I ran black and usort individually and got the results that everything is fine. But for some reason when I run ufmt, I get diffs. I am supposing there should be some

[2021-07-13 07:32] abishekvashok commented on #24
Seems like `ufmt` calls the black functions and skips calling in the function that loads the toml file.

[code]
`format_file_contents` is the black function. Do we really want ufmt? I could either make a PR there, or code our own piece of python code which runs `usort` and `black` in the same "single atomic" way and obey configurations...

But idk, maybe there is some config that `ufmt` looks to,

[2021-07-13 09:30] r0rshark opened #26 "[Summer 2021] Feature Request - Include file name on trace frames"
Currently we are only displaying the callable in the trace
![example_trace](https://user-images.githubusercontent.com/3692416/125428040-0717a148-ba5b-4509-9634-fb55eab07ac8.png)
It'd be great if I could also see that file that that trace corresponded to, rather than just the callable

[2021-07-13 09:31] r0rshark opened #27 "[Summer 2021] SAPP Feature Request - Allow users to delete previously imported runs in Web UI"
Currently, there is no way to delete Runs in Web UI. A user may want to delete a faulty run they imported without having to make a SQL query into their SAPP db.

[2021-07-13 09:40] r0rshark opened #28 "[Summer 2021] SAPP Bug - Users cannot copy any text to clipboard from source code in traces"
![image](https://user-images.githubusercontent.com/3692416/125429692-883190f0-72f0-4797-b0ad-40c43aa76523.png)
Attempting to copy + paste the highlighted text above will not work

## Steps to reproduce
Download sapp.db attached to the task
1. pip install fb-sapp
2. git clone https://github.com/stephenbradshaw/breakableflask&& cd breakableflask
3. sapp server --db-name sapp.db
4. Go to http://local

[2021-07-13 10:03] abishekvashok commented on #20
Closed via https://github.com/facebook/pyre-check/commit/a4c40967e61d9196865a7c508cbcac5cb48e7336

[2021-07-13 10:03] #20 closed

[2021-07-13 10:05] abishekvashok commented on #11
Closed via https://github.com/facebook/pyre-check/commit/97237484e1b6260593196d1bcf94ce0f3733dc8f

[2021-07-13 10:05] #11 closed

[2021-07-13 10:09] r0rshark commented on #24
@abishekvashok  found an example of Facebook opensource project using ufmt to format and flake8 to lint (https://github.com/pytorch/botorch/blob/master/.github/workflows/lint.yml) we may try do something similar.
For the pyi exclusion have you tried using a syntax like:
[code]
I found this working in the facebookresearch fairscale project :)
 https://github.com/facebookresearch/fairscale/blob/mast

[2021-07-13 10:17] r0rshark opened #29 "[Summer 2021] Coverage Improvements - tornado.web.RequestHandler subclassing"
A way to define an HTTPRequest handler with tornado framework is to subclass tornado.web.RequestHandler and implement methods like "get", "post" . We should review Tornado RequestHandler API https://www.tornadoweb.org/en/stable/web.html and create a DSL model generator ([documentation](https://www.internalfb.com/intern/staticdocs/pyre/docs/pysa-model-dsl/)) to automatically create User Controlled

[2021-07-13 14:25] abishekvashok commented on #24
Hey @r0rshark thanks for looking up internally. Really appreciate it!
https://github.com/facebookresearch/fairscale/blob/master/.circleci/config.yml , the fairscale project doesn't use `ufmt` but rather relies on running multiple jobs with black, flake, and isort.

The botch project on the other hand, uses ufmt but doesn't have any stubs, I tried with both the configurations, and variety of regexe

[2021-07-13 14:57] abishekvashok commented on #26
I would like to work on this :)

[2021-07-13 15:25] abishekvashok commented on #28
I know how to do this!

[2021-07-13 21:02] #25 closed

[2021-07-14 10:02] abishekvashok commented on #23
Closed via https://github.com/facebook/pyre-check/pull/450

[2021-07-14 10:02] #23 closed

[2021-07-14 10:08] r0rshark commented on #24
Let's use a similar approach to the one used in the fairscale project. I think it should work :)

[2021-07-14 10:14] abishekvashok commented on #24
Got it!

[2021-07-14 10:31] abishekvashok commented on #24
@r0rshark so I made a PR, guessing the only Internal tools are `black` and `usort`: https://github.com/facebook/pyre-check/pull/453

I tried flake8 as I saw .flake8 in the project root, however it says there are formatting issues: https://github.com/abishekvashok/pyre-check/actions/runs/1029878306

If you guys really use flake8 internally, or other tools, please let me know the exact version and w

[2021-07-15 06:17] abishekvashok commented on #29
Claiming this issue!

[2021-07-15 12:21] abishekvashok commented on #26
Closed via https://github.com/facebook/sapp/commit/8aea64b473f9e44885ec6c802de5fe39924f0236

[2021-07-15 12:21] #26 closed

[2021-07-15 17:48] abishekvashok commented on #28
Closed via https://github.com/facebook/sapp/commit/b7e87bc571eacc089dc2921d99c7ecba1aa7ee19

[2021-07-15 17:48] #28 closed

[2021-07-16 02:19] abishekvashok commented on #14
Closed via https://github.com/facebook/sapp/commit/e30857392d6ab2f8e399274d41b7a957678ea511

[2021-07-16 02:19] #14 closed

[2021-07-16 10:19] abishekvashok commented on #29
Closed via https://github.com/facebook/pyre-check/commit/5108db9ab7f8006a955a6b26d9564b7562c2c1b6

[2021-07-16 10:19] #29 closed

[2021-07-19 08:48] r0rshark opened #30 "[Summer 2021] SAPP Feature Request - Create easier access to selecting saved filters in Web UI"
The current workflow to loading a saved filter on SAPP Web UI is to:
- sapp --database-name starter.db server
- Click the Filter button
- Click the saved filter field
- Click the name of the saved filter you want to apply
- Click the Apply button and wait for the page to refresh
One idea to make it easier to select filters is to create a sidebar with a list of saved filters and clicking on one sav

[2021-07-19 10:26] r0rshark opened #31 "[Summer 2021] Create models for Server Side Template Injection"
Server side template injection is a very impactful vulnerability which can lead to Remote Code Execution (https://portswigger.net/research/server-side-template-injection).
Currently we have defined some of them (jinja) in the [general.pysa](https://github.com/MLH-Fellowship/pyre-check/blob/master/stubs/taint/core_privacy_security/general.pysa#L42) file. We should move them to a specific file e.g.

[2021-07-19 11:55] abishekvashok commented on #30
Claiming this!

[2021-07-19 11:58] abishekvashok commented on #30
@r0rshark I tried the sidebar but it looked kinda ugly. So I added a popup https://github.com/facebook/sapp/pull/27 , let me know if you really want the sidebar, and possibly move filter names outside of the autocompletation field?

[2021-07-20 06:59] PulkitMishra commented on #31
sounds cool! will be working on this

[2021-07-20 06:59] #22 closed

[2021-07-20 07:01] PulkitMishra commented on #18
Not possible without custom stubs. Closing this for now. Can reopen once typeshed supports aiopg.

[2021-07-20 07:01] #18 closed

[2021-07-20 07:01] PulkitMishra commented on #22
Not possible without custom stubs. Closing this for now. Can reopen once typeshed supports cx_oracle.

[2021-07-20 10:27] r0rshark opened #32 "[Summer 2021] [SAPP] Feature Request - Reduce number of interactions in Web UI required to re-save a filter"
## Scenario
Suppose a user has a saved filter named Test Filter 1 that filters for Code == 5008, but the user wants Test Filter 1 to filter for Code == 5008 and Code == 5012.

## Expected workflow:
The following is the flow a user would expect to accomplish the scenario above:
Ensure you have a Pysa run in a SAPP db that contains issues with code 5008 and 5012
- sapp --database-name test.db server

[2021-07-20 10:34] abishekvashok commented on #32
I would like to work on it. But this touches functionality in https://github.com/facebook/sapp/pull/27

I am also not liking the position of save and load, what do you feel we move them outside to the form itself and then, implement collapasables and add update filter and save filter options there near clear and apply buttons?

[2021-07-20 10:40] r0rshark opened #33 "[Summer 2021] [SAPP] Bug - Previously applied filter in Web UI to Run `n` persists across accesses to different Runs"
## Scenario
Suppose a user has a saved filter named Test Filter 1 that only filters for issues with code 5003

## Steps to reproduce
Ensure you have two Pysa runs in a SAPP db that both contains issues with code 5003
- sapp --database-name test.db server and go to http://localhost:5000/
- Click Issues for Run 1
- Click the Filter button
- Apply Test Filter 1 and notice only issues with code 5003 a

[2021-07-20 10:46] r0rshark opened #34 "[Summer 2021] Feature Request - Reduce number of interactions in Web UI to stop filtering and show all issues"
## Scenario
Assume a user currently has Test Filter 1 applied on their list of issues and the user wants to go back to viewing all the issues for the Pysa run they are currently reviewing

## Expected workflow:
The following is the flow a user would expect to accomplish the scenario above:
- Click some Clear button visible next to the Filter button or whatever alternative solution we come up with

[2021-07-20 10:51] r0rshark opened #35 "[Summer 2021] SAPP Feature Request - Support edit status code in Issue UI"
`Issue` model has a [status](https://github.com/facebook/sapp/blob/master/sapp/models.py#L586) field which defaults to `uncategorized` we should support updating it from the UI through a dropdown showing the supported [Statuses](https://github.com/facebook/sapp/blob/master/sapp/models.py#L506)

[2021-07-20 10:59] abishekvashok commented on #27
Closed via https://github.com/facebook/sapp/commit/84b90d1691f812de75afbc15194402c639b9418e

[2021-07-20 11:26] abishekvashok commented on #33
I got this!

[2021-07-20 13:46] abishekvashok commented on #35
Claiming this :)

[2021-07-20 13:49] #27 closed

[2021-07-20 13:51] abishekvashok commented on #35
@r0rshark what are your thoughts on adding filter support as well?

[2021-07-20 14:50] PulkitMishra commented on #19
closed by https://github.com/facebook/pyre-check/pull/455

[2021-07-20 14:50] #19 closed

[2021-07-20 18:07] abishekvashok commented on #21
Closed via https://github.com/facebook/pyre-check/commit/55f993d8f7afb31642a02c91563387979dd1f02c

[2021-07-20 18:07] #21 closed

[2021-07-20 18:13] abishekvashok commented on #17
@r0rshark since the issues relating to the said vulnerability have been closed and we can detect everything except two of the modules. What do you think would be the future of this issue?

do you think we are in a stage mature enough to go into the wild and try with real world projects? I am able to detect a few issues with Zulip. Do you have a future direction in mind (projects or new coverage im

[2021-07-21 05:42] PulkitMishra commented on #17
Maybe we can log our findings on real-world projects on this issue itself?

[2021-07-21 09:24] r0rshark commented on #35
Yes that would be ideal

[2021-07-21 11:03] abishekvashok commented on #35
@r0rshark sorry it took a while, but yeah, did it: https://github.com/facebook/sapp/pull/30

[2021-07-22 10:08] r0rshark commented on #31
@PulkitMishra  Heads up someone internally worked on the django.template recently (sorry didn't saw that coming). But we can cover https://chameleon.readthedocs.io/en/latest/ instead :)

[2021-07-22 11:55] PulkitMishra commented on #31
oh @r0rshark was almost done with the diff:/
Nvm. can you please block this one. Will send a PR on chameleon in some time?

[2021-07-22 13:57] r0rshark commented on #31
@PulkitMishra  had a chat internally with the owner of the task and it was not finished and just created a draft so feel free to implement the `django.template` models as well :)

[2021-07-22 15:38] r0rshark commented on #17
@abishekvashok  @PulkitMishra  I would say
1. Look for more vulnerable app: if you find other Open Source vulnerable application in Python3 we can try on them as well :)
2. Triage the results in Zulip.
   - Check which issues pass the pre built filters.
   - Share with the sapp.db file after having loaded the issues there. So I can triage them and give some feedback/ share how I triage the issue t

[2021-07-22 15:45] abishekvashok commented on #24
Closed via https://github.com/facebook/pyre-check/commit/ed663bf8ba532215afd50f43c8c1bc120df0a7f5

[2021-07-22 15:45] #24 closed

[2021-07-23 15:36] abishekvashok commented on #17
**Disclaimer:** `pyre infer -r` isn't working on latest pyre nightly build for me, running the one in which the command works.

So @r0rshark I found the following open source vulnerable apps to test against, tested them with Pysa and here are the results.

1. https://github.com/stamparm/DSVW

The following vulnerabilities are the ones I expected to be detected by Pysa:

- SQL Injection x3 [**Undet

[2021-07-23 16:32] abishekvashok commented on #17
@r0rshark shared the sapp.db file in discord as I can't upload here :/

I could try to triage, but I don't know how you want to triage! I can learn tho :) Shared the sapp.db file nonetheless

[2021-07-26 11:40] r0rshark commented on #17
Had a quick look at https://github.com/rojan-rijal/Pyrate I think the issue is the usage of Blueprintins https://github.com/rojan-rijal/Pyrate/blob/master/app/admin/__init__.py#L3 which make the decorator marking the routes dynamic (https://github.com/rojan-rijal/Pyrate/blob/master/app/admin/views.py#L14). I think this is very hard to model with Pysa.

I am surprised we didn't detect issues in htt

[2021-07-26 15:39] abishekvashok commented on #17
@r0rshark about hackable, I guess the problem is that we don't have models for request.json

We have for request.get_json() but not the other one. It's not in flask api documentation but I can find some uses of the property such as: https://www.kite.com/python/answers/how-to-get-json-from-a-request-using-flask-in-python

Do we need models for it?

[2021-07-26 15:40] abishekvashok commented on #17
I tried updating pyre and the errors went away :/ Sorry for that

[2021-07-26 15:41] abishekvashok commented on #17
Opening issues for the same.

[2021-07-26 17:04] abishekvashok opened #36 "[Summer 2021] Create models to wtforms"
Create taint models for `wtforms`
Documentation: https://wtforms.readthedocs.io/
This requires reading the documentation and finding out possible taint sources/sinks that we can associate with the model. This might require usage of DSL.

[2021-07-26 17:07] abishekvashok opened #37 "[Summer 2021] Create models for flaskwtf"
Create models for flaskwtf - https://flask-wtf.readthedocs.io/
This might require usage of DSL.

[2021-07-27 14:28] abishekvashok commented on #37
This is not in typeshed and without stubs, it's not working :/ @r0rshark

[2021-07-27 14:29] abishekvashok commented on #36
This is not in typeshed, without stubs it's not working either, do we really need this as to add stubs @r0rshark

[2021-07-27 15:21] r0rshark opened #38 "[Summer 2021] Create model verification tests"
Currently we have the integration tests which make sure we do not have regression for a limited set of important categories however we do not have a way to make sure that all the models are valid.

The idea is to create a model validation testing system for the Opensource models and run it in the Github CI. This would require
1. Create a folder in pyre-check/tools/pysa_integration_tests/verify_mod

[2021-07-27 15:23] r0rshark opened #39 "[Summer 2021] SAPP support filter export function"
Currently there is no way to easily export and share a filter from the UI.
We have a functionality to import the filter in JSON format in the DB  https://pyre-check.org/docs/pysa-quickstart#initial-configuration we should support exporting the filter in the same format

[2021-07-27 15:26] gbleaney commented on #31
FYI there are a bunch of other templating engines that could be worth covering:
https://youtu.be/R1KrPc1IOeE?t=1213

[2021-07-28 11:08] abishekvashok commented on #31
@gbleaney thanks. I guess from that list it's the following that we need to cover:
- Chameleon
- Cheetah
- Genshi
- Trender
- Chevron
- Airspeed

I will check this and get back. Nice talk btw!

[2021-07-28 11:47] r0rshark opened #40 "[Summer 2021] Add CI checks with flake8, black and usort in the SAPP repo"
As title add flake8, black and usort that we already have in pyre check in the SAPP repo as well

[2021-07-28 12:05] abishekvashok commented on #35
Closed via `https://github.com/facebook/sapp/commit/c59f5833ede65c5f6b7ddb66a2dfade686313a06`

[2021-07-28 12:05] #35 closed

[2021-07-28 12:05] abishekvashok commented on #40
I got this!

[2021-07-29 09:14] abishekvashok commented on #40
@r0rshark I added flake8, usort, and black in the PR. But since sapp has react as well, I was wondering whether you guys internally use a linter to style check/format those files.

[2021-07-29 12:04] abishekvashok commented on #32
I though it would be less work if https://github.com/facebook/sapp/pull/27 is merged, but it's taking time as it has evolved a lot, thereby, taking this up. I can rework in order of merge if needed :)

[2021-07-30 10:38] r0rshark commented on #40
Great! I didn't find internal suggestions for the Opensource but I see some usage of eslint https://github.com/facebookresearch/ParlAI/blob/master/.github/workflows/lint.yml#L109 I am not very familiar with JS linting but we can give it a try and see how many issues we would need to deal with and the value of them :)

[2021-07-30 17:52] abishekvashok commented on #36
Hey @r0rshark so I tried setting this up with the suggestion and reveal_taint works now, but the problem is the conditional way in which this library creates attributes:
This is an error I am getting while running Pysa:
[code]

The code works in the python interpreter, and I guess this is due to the way in which the attribute is defined:
[code]
https://wtforms.readthedocs.io/en/2.3.x/_modules/wtfo

[2021-07-31 02:24] abishekvashok commented on #32
Closed via https://github.com/facebook/sapp/commit/183bff992d5e4217f4246a67a1fe42025dd5db91

[2021-07-31 02:24] #32 closed

[2021-08-02 13:17] abishekvashok commented on #36
@r0rshark what are your thoughts on defining all attributes as taint sources (ie, all the field classes such as a text field or string field as taint sources itself.) It would be weird to taint entire classes but seems like the only way we could add support. What are your thoughts on this?

[2021-08-02 14:24] r0rshark opened #41 "[Summer 2021] Improve SAPP UI development"
Currently to test UI changes in SAPP we need to run everytime https://github.com/facebook/sapp#development-environment-setup
[code]
It would be nice if we can do this without having to run `npm run-script build` every time.
We can achieve this by using
[code]
To make this work:
1. When we are in development mode we need to change the URL used by Apollo in ReactJS from /graphql to localhost:5000/gr

[2021-08-02 14:31] abishekvashok commented on #41
I got this!

[2021-08-02 15:07] r0rshark opened #42 "[Summer 2021] Investigate SQL exception raised by SAPP server"
When performing some action on SAPP UI I noticed we are raising a SQL exception

1. `python3 -m sapp.cli server  --source-directory ../zulip`
2. Visit localhost:5000
3. Select a filter and then clear it
The following error is raised

[code]

[2021-08-02 15:12] r0rshark commented on #17
@abishekvashok did we create an issue for this? we should add it :)

[2021-08-02 15:25] r0rshark commented on #36
Nice work! Can you please share what pyre query outputs for
[code]

Just to test. would taint the entire class work? (https://pyre-check.org/docs/pysa-basics#sources)

[2021-08-02 15:36] r0rshark opened #43 "[Summer 2021] Compare Pysa coverage with CodeQL coverage"
CodeQL is a static analysis tool currently developed by Github, it also support Python.
We should make sure Pysa has all the vulnerabilities and models defined in CodeQL.  Example Server Side Template Injection https://github.com/github/securitylab/issues/93 .
We can also try to run on some sample projects to understand if there are things codeql is able to find but Pysa isn't

[2021-08-02 15:56] r0rshark opened #44 "[Summer 2021] Update vulnerable dependency in SAPP"
GitHub has detected that a package defined in the sapp/ui/frontend/package-lock.json file of the facebook/sapp repository contains a security vulnerability.

Package name: react-dev-utils
Affected versions: >= 0.4.0, < 11.0.4
Fixed in version: 11.0.4
Severity: MODERATE

Identifier(s):
GHSA-5q6m-3h65-w53x
CVE-2021-24033

We should likely just update this dependency and make sure there are no confli

[2021-08-02 17:43] abishekvashok commented on #17
I guess so!

I will add the issue for flask.

[2021-08-03 02:43] abishekvashok commented on #30
Closed via https://github.com/facebook/sapp/commit/22843c34b3e0036230af5a6cd96e869c75c86948

[2021-08-03 02:43] #30 closed

[2021-08-03 06:42] abishekvashok commented on #42
Happens, as mentioned in the exception, when one sqlite3 db connection is used by multiple threads. As long as we performs mutations atomically, we should be good for this solution here: https://stackoverflow.com/a/48234567

ie,
suppress this warning(s).

How does that sound, or should we recreate the connection each time?

[2021-08-03 06:43] abishekvashok commented on #44
Currently with sapp there are 14 vulnerabilities. I think we should fix all those (report by npm audit)

[2021-08-03 07:30] abishekvashok commented on #36
<details>
<summary>the attributes of StringField:</summary>

[code]
</details>

<details>
<summary>The functions in StringField:</summary>
[code]
</details>

<details>
<summary>The attributes of Field:</summary>

[code]
</details>

<details>
<summary>The functions of Field:</summary>

[code]
</details>

[2021-08-03 07:52] abishekvashok commented on #36
Yes! (I had to use DSL as forms are created via inheritance)

[code]

Pysa can detect xss vulnerability in the above code when the all the attributes of ContactForm care marked as taint sources as:

[code]

[2021-08-03 07:56] abishekvashok opened #45 "[Summer 2021] Add coverage for flask.request.json"
Investigate if it is possible to add coverage for flask.request.json. The get_json() function is covered, this should be a one-liner but the stubs don't have the request attribute so this might get tricky.

[2021-08-03 09:05] r0rshark commented on #42
Got it I am still not sure about which are the two threads. My guess is that one is the thread of the main application where the db is created https://github.com/facebook/sapp/blob/master/sapp/ui/server.py#L65 and the other one is the flask server running. In this case I guess it should not be a problem since all the mutation happen in the flask application

[2021-08-03 09:06] abishekvashok commented on #42
Yeah my assumption is the same. Making a PR :)

[2021-08-03 10:48] abishekvashok commented on #43
I can see CodeQL has support for the following:

1. CVE-2018-1281 (Bind To All Interfaces) (Not detected)
2. CWE-020-ExternalAPIs (External APIs are marked as sinks and data from them as taint sources) (not detected) (Do we need such verbosity?)
3. CWE-020 (Regex serialisation, not definitely a vulnerability, but can be) (not detected)
4. CWE-022 (File system read, write, and tar slip) (tar slip n

[2021-08-03 10:55] abishekvashok commented on #43
@r0rshark this is my preliminary analysis after checking the [python security folder](https://github.com/github/codeql/tree/main/python/ql/src/Security) of CodeQL. Curious to know what you think and maybe, we can create issue for each issue we can possibly detect with Pysa

[2021-08-03 11:20] abishekvashok commented on #45
Can't detect the json attribute as the stubs in typeshed doesn't have that attribute. From https://tedboy.github.io/flask/_modules/flask/wrappers.html#Request.json I can see that it is depreciated.  I guess that's why it's not in the typeshed stubs. I am getting:
[code]

[2021-08-03 23:00] PulkitMishra commented on #31
Thanks for sharing @gbleaney . Will send a PR over in some time or if you suggest can continue adding commits to this as well https://github.com/facebook/pyre-check/pull/458

@r0rshark can you please let me know in case any of these are being worked on internally?

[2021-08-04 10:11] r0rshark commented on #45
Make sense! I think we can skip this given that;s not valid anymore

[2021-08-04 10:17] abishekvashok commented on #44
Closed via https://github.com/facebook/sapp/commit/0dbae133a5e05ab6b6725183b9bfbc6ecc0ee897

[2021-08-04 10:17] #44 closed

[2021-08-04 10:18] abishekvashok commented on #45
Yep, closing this then!

[2021-08-04 10:18] #45 closed

[2021-08-04 10:32] r0rshark commented on #43
Nice work! I'll spend some time tomorrow going through the list and defining what we can do :)

[2021-08-04 10:36] r0rshark commented on #36
Yes this looks like the right way to do it!

[2021-08-04 13:24] r0rshark commented on #36
Ah got it it would be an attribute of the tainted attribute! No I do not think this is possible :(

[2021-08-04 13:51] abishekvashok commented on #36
So do you guys want to taint that attribute on its entirety? If so, I can push a pr, else we can close this :)

[2021-08-04 13:52] abishekvashok commented on #33
Closed via https://github.com/facebook/sapp/commit/080b52013fe2c68d49382c1494975f702c1e251f

[2021-08-04 13:52] #33 closed

[2021-08-04 13:53] abishekvashok commented on #34
Closed via https://github.com/facebook/sapp/commit/d7698320276f5b696f145a202cfc012c210ff8e4

[2021-08-04 13:53] #34 closed

[2021-08-04 14:13] r0rshark opened #46 "[Summer 2021] SAPP UI Add "matches" functionality for Sink/Source name and kind"
As title, we currently support "is"/"matches" for filtering the "Callable" but we are not supporting this on Sink/Source name and kind filter. Let's add this support!
<img width="433" alt="Screenshot 2021-08-04 at 15 13 15" src="https://user-images.githubusercontent.com/3692416/128196550-385da86e-2620-4251-82d7-4549c209f794.png">

[2021-08-04 14:15] r0rshark commented on #31
@PulkitMishra  none internally is working on those. Feel free to add them to your Pull request :)

[2021-08-05 03:14] abishekvashok commented on #40
Closed via https://github.com/facebook/sapp/commit/44ef0708c5434287404428f8491471c001541d61

[2021-08-05 03:14] #40 closed

[2021-08-05 09:20] r0rshark commented on #36
Yes let's taint the entire attribute. My assumption is that in most of the cases this is being used is as a UserControlled input. I imagine the usage of the __ attributes is very rare

[2021-08-05 09:23] abishekvashok commented on #36
Yes! Let's get it done :)

[2021-08-05 12:14] abishekvashok commented on #41
Closed via https://github.com/facebook/sapp/commit/f36553cf0132aa4537f3ecce8d146ce7a55fded8

[2021-08-05 12:14] #41 closed

[2021-08-05 13:53] r0rshark opened #47 "[Summer 2021] SAPP Cli add support for AddFeature Pipeline"
We want to support in SAPP Cli the capability to automatically add a specific features to all the imported issues.
This can be done by creating a new "pipeline" [here](https://github.com/facebook/sapp/tree/main/sapp/pipeline) e.g AddFeatures which process all the issues and add .
We can then add a cli option to the analyze command [here](https://github.com/facebook/sapp/blob/main/sapp/cli_lib.py#L

[2021-08-05 13:57] abishekvashok commented on #47
I can do this :)

[2021-08-06 02:54] abishekvashok commented on #42
Closed via https://github.com/facebook/sapp/commit/bc72d5158b12b9dd77a4530217d43edb2c79f4be

[2021-08-09 14:23] r0rshark opened #48 "[Summer 2021] Create Tests for the SAPP UI Frontend"
The SAPP UI frontend is getting bigger we should start implementing some test. Based on https://reactjs.org/docs/testing.html a good framework is JEST we can try to set it up and define some tests to cover some of the critical parts like issue rendering and filtering

[2021-08-09 14:39] abishekvashok commented on #48
I can do this :)

[2021-08-12 10:54] r0rshark opened #49 "[Summer 2021] Small bug fix and feature"
1. As in picture below there seem to be a rendering bug on the status dropdown when viewing an issue. (URL /run/1/issue/1)
<img width="367" alt="Screenshot 2021-08-12 at 11 51 17" src="https://user-images.githubusercontent.com/3692416/129185053-e63c42e1-d919-4717-9971-56dc18f287bd.png">

2. In the sapp.db we are storing the first_seen time of the issue but we are not surfacing it in the UI. Let's

[2021-08-12 10:57] #42 closed

[2021-08-12 10:57] #47 closed

[2021-08-12 11:00] abishekvashok commented on #47
I can still see https://github.com/facebook/sapp/pull/39 is open. @r0rshark was this closed intentionally? :)

[2021-08-12 11:01] abishekvashok commented on #49
I got this :)

[2021-08-12 11:25] abishekvashok commented on #49
@r0rshark 1. is not reproducible when I checkout the code from the main branch in the repository. But I can see the ellipse and truncation on `uncategorised` when I select `do not care`.
<img width="1440" alt="Screenshot 2021-08-12 at 4 38 42 PM" src="https://user-images.githubusercontent.com/8947010/129187051-53b03814-9996-458b-bdb1-834c47048bda.png">

We could in any case get it working with thi

[2021-08-12 11:36] abishekvashok commented on #49
For the second one, do we need a filter? If so, what should be the filter criteria? Date alone or date and time?

[2021-08-12 11:52] abishekvashok commented on #49
I pushed in https://github.com/facebook/sapp/pull/43 for 2. But if we like a filter, I will be more than happy to push implement it :)

[2021-08-13 08:56] abishekvashok commented on #36
Closed via https://github.com/facebook/pyre-check/commit/20115d791ec2ce538dad13a2c57fef928197d626

[2021-08-13 08:56] #36 closed

[2021-08-13 08:56] abishekvashok commented on #37
Closed via https://github.com/facebook/pyre-check/commit/20115d791ec2ce538dad13a2c57fef928197d626

[2021-08-13 12:02] #37 closed

[2021-08-13 12:02] #31 closed

[2021-08-13 15:29] r0rshark opened #50 "[Fall 2021] Step 3: Add support for --output=sarif to pyre"
https://github.com/facebook/pyre-check/pull/427 added support for surfacing type errors inline on github through a script that takes the output of pyre --output=json and converts it into SARIF (https://github.com/microsoft/sarif-tutorials), the file format GitHub understands. Ideally there should be an easier way for projects to set up the integration by just running pyre --output=sarif. This task

[2021-08-14 03:20] abishekvashok commented on #48
Closed via https://github.com/facebook/sapp/commit/89aa992765512bb3eac4e1f47eac2fa55cc22791

[2021-08-14 03:20] #48 closed

[2021-08-14 03:22] abishekvashok commented on #50
I got this :)

[2021-08-25 02:51] abishekvashok commented on #39
Fixed via https://github.com/facebook/sapp/commit/2602f618ff6d1025574b4a3580ae835017f2717d

[2021-08-25 02:51] #39 closed

[2021-08-25 02:53] abishekvashok commented on #49
Solved second one via https://github.com/facebook/sapp/commit/3b64fc964c951a0fca4dc6278dc1a76cb55d9206

[2021-08-25 02:53] #49 closed

[2021-08-25 16:16] #46 closed, assigned to abishekvashok

[2021-09-20 19:55] 0xedward opened #51 "[Fall 2021]"
Welcome to Pysa! :) We're really excited to have you all help us improve Pysa.

Pysa is an open source Python Static Taint Flow Analysis tool we (Facebook) created. Pysa is built on top of Pyre, which is our Python type checker. Things get a little confusing, since both Pysa and Pyre live in the [same repo](https://github.com/facebook/pyre-check), get distributed through the [same PyPI package](ht

[2021-09-20 20:16] 0xedward commented on #38
Linking respective PR - https://github.com/facebook/pyre-check/pull/467

[2021-09-20 20:19] 0xedward commented on #50
Still working out Github Marketplace set up internally for this. We should be able to land @abishekvashok's PR after that

[2021-09-20 20:26] onionymous opened #52 "[Fall 2021] Coverage Improvement - Cover Flask class based views"
Flask is a popular open-source web framework written in Python. Pysa already has some models for Flask (see [flask_sources_sinks.pysa](https://github.com/facebook/pyre-check/blob/main/stubs/taint/core_privacy_security/flask_sources_sinks.pysa)), but we are missing some coverage.

A [view function](https://flask.palletsprojects.com/en/2.0.x/tutorial/views/) in Flask is code that responds to an appl

[2021-09-20 20:35] onionymous opened #53 "[Fall 2021] Step 1: Coverage Improvement - Expand XSS regex to cover `javascript:` URLs"
Pysa supports [string literals as implicit sources/sinks](https://pyre-check.org/docs/pysa-advanced#literal-string-sources-and-sinks).

We currently look for strings with `<>` in them to detect potential HTML injection sinks (see https://github.com/facebook/pyre-check/blob/d82759a1f1ce5467aa2250708b226790c046f207/stubs/taint/core_privacy_security/taint.config#L652) and have a rule for `UserControl

[2021-09-20 20:51] onionymous opened #54 "[Fall 2021] Step 1: Coverage Improvement - SSH libraries"
SSH libraries make it possible to remotely execute commands. This can be a source of command injection if user-controlled data is able to flow to these sites.

We have some existing models for SSH libraries like `paramiko` and `pexpect` (see https://github.com/facebook/pyre-check/blob/main/stubs/third_party_taint/rce_sinks.pysa). The goal of this task is to add coverage for other SSH libraries tha

[2021-09-20 20:56] onionymous opened #55 "[Fall 2021] Step 1: Coverage Improvement - Add coverage for OpenSSL"
[OpenSSL](https://github.com/openssl/openssl) is a library for secure communications over computer networks.

We should look at this library and identify sensitive functions, e.g. those returning keys or certificates as being sources of [`ServerSecrets`](https://github.com/facebook/pyre-check/blob/main/stubs/taint/core_privacy_security/taint.config#L45).

[2021-09-20 21:01] onionymous opened #56 "[Fall 2021] Step 1: Coverage Improvement - Model Django FileSystemStorage as a sink"
Django is a popular open-source web application framework in Python. [Django's file storage API](https://docs.djangoproject.com/en/3.2/ref/files/storage/) allows access to the file system, which can potentially cause arbitrary read/write vulnerabilities if user-controlled data is able to control the files being read.

We have some existing file system models at https://github.com/facebook/pyre-che

[2021-09-20 21:03] onionymous opened #57 "[Fall 2021] Step 1: Coverae Improvement - Add models for python-sh"
The `[sh](https://amoffat.github.io/sh/)` module is a `subprocess` replacement for Python. This might allow arbitrary command execution if user-controlled data is able to flow to some of this module's functions, so we should figure out how to model the functions in this library as `RemoteCodeExecution` sinks.

[2021-09-20 21:08] onionymous opened #58 "[Fall 2021] Step 2: Coverage Improvement - Add coverage for AWS libraries (botocore/boto3)"
`boto3` and its lower-level counterpart `botocore` provide a programmatic interface to AWS services. We should identify what functions in these libraries are sensitive in these libraries and add new models and rules for them.

Some areas to think about:
- User-controlled data flowing to functions that perform sensitive actions
- Functions that return keys or secrets shouldn't be logged
- Hardcoded

[2021-09-27 14:42] 0xedward opened #59 "[Fall 2021] Step 1: Fix pyre type checking errors in Pytorch `torch/_C/__init__.pyi`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:44] 0xedward opened #60 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/_C/_VariableFunctions.pyi`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:46] 0xedward opened #61 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/_VF.pyi`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:47] 0xedward opened #62 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/distributed/nn/api/remote_module.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:49] 0xedward opened #63 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/distributed/pipeline/sync/utils.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:50] 0xedward opened #64 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/distributed/rpc/options.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:51] 0xedward opened #65 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/fx/experimental/fx2trt/example/fx2trt_example.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:52] 0xedward opened #66 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/fx/graph_module.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:53] 0xedward opened #67 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/fx/node.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:54] 0xedward opened #68 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/nn/quantizable/modules/activation.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:54] 0xedward opened #69 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/quantization/fx/convert.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:55] 0xedward opened #70 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/quantization/fx/fuse.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:56] 0xedward opened #71 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/quantization/fx/fusion_patterns.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:57] 0xedward opened #72 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/quantization/fx/match_utils.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:58] 0xedward opened #73 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/quantization/fx/qconfig_utils.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:59] 0xedward opened #74 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/quantization/fx/quantization_patterns.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 14:59] 0xedward opened #75 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/quantization/fx/utils.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 15:00] 0xedward opened #76 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/quantization/quantize_fx.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 15:00] 0xedward opened #77 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/storage.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-27 15:01] 0xedward opened #78 "[Fall 2021] Step 1: Pyre - Fix type checking errors in Pytorch `torch/utils/hipify/hipify_python.py`"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-09-29 05:56] abishekvashok commented on #50
@0xedward I am sorry, but can you provide me a update as to why we need a repo for this?
Are we creating actions for pyre as well? (In addition to pysa?)

If not, I guess the pysa action won't need these changes as we'll use sapp there.

I guess this was intended for pyre so that we could have sarif output natively rather than use a script for the GitHub actions in the pyre check repository.

[2021-10-06 02:14] 0xedward opened #79 "Build a Pysa Playground/Sandbox to allow users to try out Pysa"
The idea here is to [build a web UI](https://pyre-check.org/sandbox/) to allow users to write Python code, run Pysa and see the results without needing to go through the Pysa setup process.

References to get started:
- Frontend: https://github.com/facebook/pyre-check/blob/main/documentation/website/src/pages/sandbox.js
- Backend: https://github.com/facebook/pyre-check/tree/main/tools/sandbox

[2021-10-06 02:19] 0xedward commented on #50
@abishekvashok Oh, sorry, just saw this now!

Yep, that's the plan! :)

Ah, that's right! I commented about the Github action for Pyre here, since that was the original goal to add `--output=sarif` to Pyre, but we can create a separate issue for the Pyre github action.

I'll check to see what is going on with the PR and if there's anything blocking it

[2021-10-06 03:11] abishekvashok commented on #50
Hey @0xedward it's okay - I figured it out from yesterday's 1:1, it's an old comment.

[2021-10-07 20:11] 0xedward opened #80 "[Fall 2021] Step 3: Automate Pysa Quickstart guide for new users to quickly initialize a environment for Pysa"
Automate the steps in the [Quickstart](https://pyre-check.org/docs/pysa-quickstart/) and add some logic to automatically handle and fix [some common issues](https://pyre-check.org/docs/pysa-quickstart/#common-issues), so the automation is completed, the user has their environment set up to run Pysa (`pyre analyze`)

Feel free to pick whatever automation method (e.g. script, ansible, etc.) you thin

[2021-10-07 20:26] 0xedward opened #81 "[Fall 2021] Step 3: Differentiate between module not being in environment and functions not being in environment errors"
We currently recommend our users to run Pysa with `--no-verify` to ignore not-in-environment errors. Model not in environment error for two reasons:
1. The model exists for a module, but the user has not installed that module
2. The user has install a module, but the model they wrote is incorrect

The task here is to provide a two separate error messages to help users figure out which problem they

[2021-10-08 16:54] 0xedward commented on #80
Ah I think `pyre init` has some logic to set up `taint_models_path`. If the user has a venv activated, I think by default it sets the path to `{venv_path}/lib/`

Sorry I'm realizing now that this issue might be better as a script instead of a built-in command in Pyre, since the goal of the issue was to automate the setup steps in the Quickstart guide and have some automatic error handling for [com

[2021-10-12 06:19] #73 closed

[2021-10-13 17:07] onionymous opened #82 "[Fall 2021] Step 3: Add a `pyre validate-taint-config` command and make errors in taintConfiguration.ml typed"
**Outdated, please read later comment.**

Pysa rules, sources, sinks and other taint information are specified in [taint.config](https://github.com/facebook/pyre-check/blob/main/stubs/taint/core_privacy_security/taint.config) files. Multiple taint.config files can be specified in one project. When Pysa is run, it looks at all the taint.config files specified in the `"taint_models_path"` of the `.p

[2021-10-13 17:47] onionymous opened #83 "[Fall 2021] Step 3: Add Python and third-party library version information to our Pysa models"
Pysa models are closely related to the Python code they're modeling. They look very similar to type stubs, and rely on annotating specific function names, parameters, or other values. Unfortunately, things like function names and parameters are subject to change across library versions, whether this is the standard Python library, or a third party library.

Right now there is no information about

[2021-10-13 18:40] gbleaney commented on #83
Strongly in favour of this one. I love that our model files are basically identical to stub files (in fact, we used to call them stub files until it got too confusing). Continuing to share as many conventions as possible with stub files reduces the cognitive burden of features by relying on a pattern (some) people already know

[2021-10-13 19:04] arthaud commented on #83
I would make it standalone. That seems higher priority than arbitrary python in .pysa files.

[2021-10-19 02:58] #50 closed

[2021-10-26 15:40] #80 closed, assigned to abishekvashok

[2021-10-27 16:21] #81 closed, assigned to abishekvashok

[2021-10-27 18:51] 0xedward opened #84 "[Fall 2021] Step 1: Pyre - Add explicit type annotations in Pytorch"
This task is part of a bigger effort to migrate Pytorch from Mypy to Pyre. The goal of this task for you is to gain comfort with the Python type system and the types of errors Pyre gives. Future Pysa project work and debugging builds on this foundation.

## Development Environment Setup
- Set up [Pytorch for development](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pyt

[2021-10-27 21:12] onionymous opened #85 "[Fall 2021] Step 3: Clean up unclassified errors in the model parser"
In our model parser: https://github.com/facebook/pyre-check/blob/main/source/interprocedural_analyses/taint/modelParser.ml

we still have a lot of uses of `UnclassifiedError` (https://github.com/facebook/pyre-check/blob/main/source/interprocedural_analyses/taint/modelParser.ml#L214) which is a relic from before we had our new, well-typed errors.

The goal of this project is just to clean up all th

[2021-10-27 21:27] onionymous opened #86 "[Fall 2021] Step 3: Add an `AllOf` constraint to the Pysa DSL"
### Overview
The [Pysa DSL](https://pyre-check.org/docs/pysa-model-dsl) is a domain-specific language used to generate models in bulk without having to individually specify them using certain query conditions.

The goal of this task is to support an `AllOf` constraint in the `where` clause. For example:
[code]

This query would let us find methods on classes where (the class extends `a.b` AND the

[2021-11-01 17:55] abishekvashok commented on #86
I think I know how to do this XD

[2021-11-01 21:41] onionymous opened #87 "[Fall 2021] Step 3: Add validation for taint.config files"
Pysa rules, sources, sinks and other taint information are specified in JSON taint.config files. Multiple taint.config files can be specified in one project. When Pysa is run, it looks at all the taint.config files specified in the "taint_models_path" of the .pyre_configuration file for that project, and reads the rules, source/sink names, etc. from all of these files.

The goal of this project is

[2021-11-03 16:51] abishekvashok commented on #84
Hey, @0xedward  I can't reproduce the errors in the first section. Do you know if they were fixed (or files moved, first few files don't exist)

[2021-11-04 15:06] #86 closed

[2021-11-06 06:18] abishekvashok commented on #85
Closed via https://github.com/facebook/pyre-check/commit/848906a7fb9285cf01b5d8451bb4a2c87155fb29

[2021-11-06 06:18] #85 closed

[2021-11-08 17:00] 0xedward commented on #84
Thanks for looking into this, @abishekvashok! :)

Ah, like you mentioned, there's a chance that the files have been moved or classes have been renamed since the task was created. Would you mind pasting your pyre output here?

[2021-11-09 16:32] abishekvashok commented on #84
[results.txt](https://github.com/MLH-Fellowship/pyre-check/files/7506434/results.txt)

[2021-11-09 16:43] abishekvashok commented on #13
Closed as it's done :)

[2021-11-11 16:22] abishekvashok commented on #84
Not exactly related to the issue, but related to the discussion we had: https://github.com/pytorch/pytorch/pull/68182

[2021-11-12 03:12] abishekvashok commented on #87
Closed via https://github.com/facebook/pyre-check/commit/d0b1c16313d82785e4b482b998dad0e01351a143

[2021-11-12 03:12] #87 closed

[2021-11-15 14:31] r0rshark commented on #58
@abishekvashok  @0xedward The library is very big.  Let's focus only on high impact issues like SQLi and RemoteCode execution for common services. Otherwise we risk to end up defining a lot of models which are not practically used :)

[2021-11-15 14:54] abishekvashok commented on #58
@r0rshark okay! That's indeed a great suggestion

[2021-11-15 21:21] onionymous opened #88 "[Fall 2021] Step 3: List running servers when `pyre` command is ambiguous"
Commands like `pyre stop` and `pyre query` should directly list out all running servers when the user doesn't run the command already cd'd into a directory or provide one explicitly with `pyre -l`.

Right now it prints
[code]

We should list running servers like the current `pyre servers` command:
[code]

We can also prompt the user to specify a server. For example, right now for commands that don

[2021-11-18 16:32] onionymous opened #89 "[Fall 2021] Step 3: Run Pysa on open source projects"
## Overview

Let's run Pysa on some open source projects and see if we can catch vulnerabilities! As another outcome, let's also write script(s) to annotate codebases and help us get better Pysa results.

The main goals of this project is to:
1. Run Pysa on open source Python projects, and if we find issues - maybe we can report some previously unfound vulnerabilities and file CVEs
2. If we're not

[2021-11-19 05:22] abishekvashok commented on #89
Hey ran pysa on all three projects and here are the findings:

The steps I used to run pysa on each project are:
- clone the repo
- create and activate a virtual environement
- setup pysa with: `pyre init-pysa`
- when asked for requirements file, I provided the path for one and then manually installed the requirements in the files in other folders.
- add `python3.9/site-packages` to search path in

[2021-11-19 05:57] abishekvashok commented on #89
## Certbot
Got issues. Triagged them, a hex function for some reason served as a sanitiser that rescued from ssrf. Hence, all issues reported are false positives except those with path "*".
[code]

[2021-11-19 18:25] abishekvashok opened #90 "Log issues to .pyre/pyre.stderr"
# Pysa Feature Request
Hey, when running `pyre analyze`, have you guys considered logging the issues to stderr as well? For example, even when pyre runs in non-debug mode (without the -n option), it writes the debug mode output to `.pyre/pyre.stderr` but it just contains:
[code]
I guess we will get issues when we run with `pyre -n analyze`. To maintain similarity won't it be good to write the issu

[2021-12-07 16:30] #58 closed